@{
    ViewData["Title"] = "Welcome";
}

<div class="container mt-5 text-center">
    <h1>Welcome to Password Generator</h1>
    <div class="mt-4">
        <a class="btn btn-primary btn-lg mx-2" href="/Account/Login">Sign In</a>
        <a class="btn btn-secondary btn-lg mx-2" href="/Account/Register">Sign Up</a>
    </div>
</div>